# Default ignored files
/shelf/
/workspace.xml
/venv/pyvenv.cfg
# Datasource local storage ignored files
/../../../../:\phyton\nti_contest_alfa\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
